* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body {
  display: flex;
  flex-direction: column;
  /* overflow: hidden; */
}

/* ************************************************************************************************
                                            INICIO HEDER
     ************************************************************************************************ */

.headEstilo {
  height: 15vh;
  font-size: 1.5em;
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  padding-top: 1.5%;
  color: #e3f8e3;
  background-color: #191e2b;
}

.headerTitulo {
  font-size: 1.3em;
  width: 60%;
  margin-left: 20%;
}

.headerContenedorDeBotones {
  width: 48%;
  margin: auto;
}

.boton {
  font-size: 0.6em;
  padding: 1.5%;
  background-color: #191e2b;
  color: #e3f8e3;
  border: none;
  border-radius: 0.5em;
  font: bold;
  background-blend-mode: lighten;
}

.botonImg {
  width: 15%;
}

.botonTexto {
  width: 12%;
}

.botonModoOscuro,
.botonModoClaro {
  width: 23%;
}

.headerIcono {
  width: 20%;
  margin-right: 3%;
}

.oculto {
  display: none;
}

.boton:hover,
.boton:focus {
  background-color: #2c3344;
}

/* ************************************************************************************************
                                            FINAL HEDER
     ************************************************************************************************ */

/* ************************************************************************************************
                                            INICIO MAIN
     ************************************************************************************************ */

.mainContenedor {
  background-color: #2d3443;
  height: 85vh;
  color: #e3f8e3;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 3% 0%;
}

.memeContenedor {
  width: 35%;
  background-color: #191e2b;
  margin: 2%;
  height: 60.2vh;
  border: none;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
}

.textTop,
.textBottom {
  background-color: white;
  color: #191e2b;
  height: 20%;
  width: 100%;
  margin: 0%;
  text-align: center;
  font-size: 2.5em;
  padding: 3%;
  font-weight: bold;
  position: static;
}

.imgMeme {
  width: 100%;
  height: 100%;
  display: block;
  flex-grow: 1;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-blend-mode: screen;
}

.botonDescargar {
  width: 12%;
  padding: 15px;
  margin-top: 1%;
  background-color: #2e7d32;
  color: white;
  border: none;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.botonDescargar:hover{
  background-color: #174b19;
}

/* ************************************************************************************************
                                            INICIO PANEL IMAGEN
     ************************************************************************************************ */


.controlAside {
  background-color: #272e3f;
  width: 16%;
  height: 100%;
  position: absolute;
  right: 00%;
  top: 00%;
  padding: 1%;
}

.botonCerrar {
  margin-left: 90%;
  font-size: 1em;
  width: 8%;
  background-color: #272e3f;
  color: #e3f8e3;
  border: none;
  background-color: transparent;
  color: transparent;
}

.imagenPanel {
  background-color: #272e3f;
  color: #e3f8e3;
}

.tituloPanelImagen {
  text-align: center;
  font-size: 1.2em;
}

.panelUrlImagen {
  margin-top: 7%;
  font-size: 0.85em;
}

.panelInputImagen {
  background-color: #394052;
  width: 100%;
  height: 4vh;
  border: none;
  border-radius: 0.3em;
  margin-top: 5%;
  color: #e3f8e3;
}

.panelInputImagen:hover {
  background-color: #464d5f;
}

.fondoTitulo {
  font: bold;
}

.colorDeFondo {
  font-size: 0.8em;
  margin-top: 5%;
}

.fondoBotones {
  display: flex;
  margin-top: 5%;
  height: 4vh;
  width: 100%;
}

.btnColorFondo {
  background-color: #394052;
  width: 50%;
  margin-right: 5%;
  border-radius: 0.5em;
  border: none;
  display: flex;
}

.btnColorFondo:hover{
  background-color: #464d5f;
}

.btnColorFondo:focus {
  background-color: #464d5f;
}


.fondoInput { 
  border: 0;
  outline: 0; 
  display: block;
  margin: auto;
  width: 25%;
  border-radius: 50%;
} 

input[type='color'],
input[type='color']::-webkit-color-swatch-wrapper,
input[type='color']::-webkit-color-swatch {
  width: 18px;
  height: 18px;
  min-width: 18px;
  border-radius: 50%;
  border: 0;
  margin: 0;
  padding: 0;
  margin: auto;
}

.spanFondo {
margin: auto;
}

.modoSelector {
  width: 50%;
  background-color: #afb4c0;
  border-radius: 0.5em;
  border: none;
}
.modoColorFondo {
  width: 100%;
  height: 100%;
  border-radius: 0.5em;
  padding-left: 5%;
  border: none;
  background-color: #394052;
  color: #e3f8e3;
}

.modoColorFondo:hover {
  background-color: #464d5f;
}

.selectorDeFiltro {
  font-size: 0.8em;
  margin-top: 5%;
  display: flex;
  flex-direction: column;
}

.valoresDeContrastes {
  margin-bottom: 2%;
  margin-top: 8%;
  display: flex;
  flex-direction: column;
}

.inputContrastes {
  font-size: 1em;
  color: #e3f8e3;
}

input[type='range']{
  background-color: #5a5d68;
  appearance: none;
  border-radius: 10px;
  height: 0.5em;
  margin-top: 1.2em;
}

.reestablecerFiltros {
  margin-top: 5%;
  border: none;
  padding: 5%;
  border-radius: 5px;
  background-color: #394052;
  color: #e3f8e3;
}

.reestablecerFiltros:hover{
  background-color: #464d5f;
}

/* ************************************************************************************************
                                            INICIO PANEL TEXTO
     ************************************************************************************************ */

.seccionPanelTexto {
  background-color: #272e3f;
  color: #e3f8e3;
}

.panelTextTitulo {
  text-align: center;
  font-size: 1.2em;
}

.panelControlTextTitulo {
  font-size: 0.8em;
  font: bold;
  margin-top: 7%;
}

.textareaImput {
  padding: 4%;
  font-size: 0.9em;
  background-color: #394052;
  color: #e3f8e3;
  width: 100%;
  border: none;
  border-radius: 5px;
  margin-top: 5%;
}

.textareaImput:hover{
  background-color: #464d5f;
}
.sinTexto {
  font-size: 0.8em;
  margin: 5% 0%;
}

.panelFuenteInput {
  background-color: #394052;
  color: #e3f8e3;
  margin-top: 3%;
  width: 100%;
  padding: 3%;
  border-radius: 3px;
  border: none;
}

.panelFuenteInput:hover{
  background-color: #464d5f;
}

.panelControlTextoTamaño {
  display: flex;
  margin-top: 3%;
}

.panelAlineamiento {
  width: 50%;
  display: flex;
  justify-content: space-around;
}

.controlTamañoInput {
  background-color: #394052;
  color: #e3f8e3;
  width: 50%;
  padding: 0% 2%;
  border-radius: 3px;
  border: none;
}

.controlTamañoInput:hover{
  background-color: #464d5f;
} 

.btnLado {
  background-color: #394052;
  color: #e3f8e3;
  width: 25%;
  padding: 8%;
  border-radius: 3px;
  border: none;
}

.btnLado:hover {
  background-color: #464d5f;;
}

.btnLadoSelected {
  background-color: #8b97b6;
}

.panelControlTexto {
  margin-top: 10%
}

.colorTextoContenedor {
  display: flex;
  flex-wrap: wrap;
  margin-top: 15%;
}

.divPanelTextoColor {
  width: 45%;
  margin-right: 5%;
}

.colorTexto {
  font-size: 1em;
  width: 100%;
  background-color: #394052;
  margin-top: 5%;
  margin-right: 10%;
  border-radius: 5px;
  border: none;
  display: flex;
  justify-content: space-evenly;
  padding: 5%;
}

.colorTexto:hover{
background-color: #464d5f;
}

.spanTextoColor {
  font-size: 0.8em;
  margin: auto;
}
 
.btnsContorno{
  width: 100%;
  display: flex;
  justify-content: space-around;;
}

.btnContorno{
  background-color: #394052;
  color: #e3f8e3;
  border-radius: var(--border-radius);
  font-size: 0.8em;
  padding: 4%;
  margin-top: 4%;
  border-radius: 5px;
  border: none;
  
}
.btnContorno:hover{
  background-color:  #464d5f;
}

.btnContornoSelected {
  background-color:  #464d5f;
}

.espacioInput{
  background-color: #394052;
  color: #e3f8e3;
  margin-top: 3%;
  width: 100%;
  padding: 4%;
  border-radius: 3px;
  border: none;
}

.espacioInput:hover{
  background-color: #464d5f;
}

.interlineadoInput{
  background-color: #394052;
  color: #e3f8e3;
  margin-top: 3%;
  width: 100%;
  padding: 4%;
  border-radius: 3px;
  border: none;
}

.interlineadoInput:hover{
  background-color: #464d5f;
}


@media screen and (max-width: 1300px) and (min-width: 700px){

  .headerContenedorDeBotones {
    width: 60%;
  }

  .mainContenedor {
    height: 87vh;
  }

  .memeContenedor{
    width: 48%;
  }

  .controlAside{
    width: 26%;
    display: none;
  }

  .botonCerrar {
    background-color: #272e3f;
    color: #e3f8e3;
  }

  .imagenPanel, .seccionPanelTexto{
    display: none;
  }

  .botonDescargar{
    width: 16%;
  }
}

@media screen and (max-width: 980px) and (min-width: 699px){

  .headerContenedorDeBotones {
    width: 80%;
  }

  .memeContenedor{
    width: 60%;
  }
  .controlAside{
    width: 28%;
    display: none;
  }

  .botonDescargar{
    width: 22%;
  }

  .imagenPanel, .seccionPanelTexto{
    display: none;
  }
}

@media screen and (max-width: 700px) and (min-width: 200px){

  .headerContenedorDeBotones{
    width: 100%;
  }

  .boton {
    width: 25%;
  }

  .botonModoClaro, .botonModoOscuro {
    width: 41%;
  }

  .memeContenedor{
    width: 90%;
  }
  .controlAside{
    width: 100%;
    height: 150vh;
    padding: 10%;
    display: none;
  }

  .botonCerrar {
    background-color: #272e3f;
    color: #e3f8e3;
  }

  .imagenPanel, .seccionPanelTexto{
    display: none;
  }

  .botonDescargar{
    width: 40%;
  }

  .textTop, .textBottom{
    font-size: 2em;
  }

  .btnContorno{
    width: 20%;
  }
}